In [146]:
### Programme to calculate the vendor and customer credit terms and proportions

#getting the sales

cashflow = {}

cashflow['months'] = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
cashflow['number_days'] = [31, 28,31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
cashflow['sales_forecast'] = []
cashflow['sales_cost_forecast'] = []

counter = 0

print('Please, put numbers only')
while counter < 12:
    try:
        sale_forecast =  int(input("Enter the sales forecast: "))
        cashflow['sales_forecast'].append(sale_forecast)
        sale_cost_forecast = int(input("Enter the sales cost forecast: "))
        cashflow['sales_cost_forecast'].append(sale_cost_forecast)
        counter += 1
        continue
    except:
        print("Put in a valid format")

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.9)Please, put numbers only
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

Enter the sales forecast: 3000
Enter the sales cost forecast: 2000
Enter the sales forecast: 5000
Enter the sales cost forecast: 3000
Enter the sales forecast: 4000
Enter the sales cost forecast: 5000
Enter the sales forecast: 2000
Enter the sales cost forecast: 6000
Enter the sales forecast: 3000
Enter the sales cost forecast: 5000
Enter the sales forecast: 9000
Enter the sales cost forecast: 8000
Enter the sales forecast: 5000
Enter the sales cost forecast: 6000
Enter the sales forecast: 30
Enter the sales cost forecast: 800
Enter the sales forecast: 6000
Enter the sales cost forecast: 5000
Enter the sales forecast: 8000
Enter the sales cost forecast: 6000
Enter the sales forecast: 1000
Enter the sales cost forecast: 20
Enter the sales forecast: 6000
Enter the sales cost forecast: 300

In [148]:
print(cashflow)

{'months': ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'], 'number_days': [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], 'sales_forecast': [3000, 5000, 4000, 2000, 3000, 9000, 5000, 30, 6000, 8000, 1000, 6000], 'sales_cost_forecast': [2000, 3000, 5000, 6000, 5000, 8000, 6000, 800, 5000, 6000, 20, 300]}

In [149]:
import pandas as pd
import numpy as np

cashflow = pd.DataFrame(cashflow, columns = ['months', 'number_days','sales_forecast','sales_cost_forecast'])
cashflow.set_index('sales_forecast')

#Considering the Customer Credit Term, though by me as the ammount of time the company may take to receive the full amount
#of money from the sales

cashflow['forecasted_sales_considering_customer_credit_term'] = np.where(cashflow['number_days'] <= 30,
                                           cashflow['sales_forecast'] * 0.3,
                                           cashflow['sales_forecast'])

cashflow['to_be_paid_next_month'] = np.where(cashflow['number_days'] <= 30,
                                           cashflow['sales_forecast'] * 0.4,
                                           cashflow['sales_forecast'])

cashflow['to_be_paid_in_two_months'] = np.where(cashflow['number_days'] <= 30,
                                           cashflow['sales_forecast'] * 0.3,
                                           cashflow['sales_forecast'])

cashflow['to_be_paid_next_month'] = np.where(cashflow['number_days'] == 31,
                                           cashflow['sales_forecast'] * 0,
                                           cashflow['sales_forecast'])

cashflow['to_be_paid_in_two_months'] = np.where(cashflow['number_days'] >= 31,
                                           cashflow['sales_forecast'] * 0.3,
                                           cashflow['sales_forecast'])

cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months
0,jan,31,3000,2000,3000.0,0,900.0
1,feb,28,5000,3000,1500.0,5000,5000.0
2,mar,31,4000,5000,4000.0,0,1200.0
3,apr,30,2000,6000,600.0,2000,2000.0
4,may,31,3000,5000,3000.0,0,900.0
5,jun,30,9000,8000,2700.0,9000,9000.0
6,jul,31,5000,6000,5000.0,0,1500.0
7,aug,31,30,800,30.0,0,9.0
8,sep,30,6000,5000,1800.0,6000,6000.0
9,oct,31,8000,6000,8000.0,0,2400.0
10,nov,30,1000,20,300.0,1000,1000.0
11,dec,31,6000,300,6000.0,0,1800.0

In [150]:
cashflow['to_be_paid_this_month'] = cashflow['to_be_paid_next_month'].shift(periods=1, fill_value=0) + cashflow['to_be_paid_next_month'].shift(periods=2, fill_value=0)
cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month
0,jan,31,3000,2000,3000.0,0,900.0,0
1,feb,28,5000,3000,1500.0,5000,5000.0,0
2,mar,31,4000,5000,4000.0,0,1200.0,5000
3,apr,30,2000,6000,600.0,2000,2000.0,5000
4,may,31,3000,5000,3000.0,0,900.0,2000
5,jun,30,9000,8000,2700.0,9000,9000.0,2000
6,jul,31,5000,6000,5000.0,0,1500.0,9000
7,aug,31,30,800,30.0,0,9.0,9000
8,sep,30,6000,5000,1800.0,6000,6000.0,0
9,oct,31,8000,6000,8000.0,0,2400.0,6000
10,nov,30,1000,20,300.0,1000,1000.0,6000
11,dec,31,6000,300,6000.0,0,1800.0,1000

In [151]:
cashflow['updated_new_sales_forecast'] = cashflow['to_be_paid_this_month'] + cashflow['forecasted_sales_considering_customer_credit_term']
cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month,updated_new_sales_forecast
0,jan,31,3000,2000,3000.0,0,900.0,0,3000.0
1,feb,28,5000,3000,1500.0,5000,5000.0,0,1500.0
2,mar,31,4000,5000,4000.0,0,1200.0,5000,9000.0
3,apr,30,2000,6000,600.0,2000,2000.0,5000,5600.0
4,may,31,3000,5000,3000.0,0,900.0,2000,5000.0
5,jun,30,9000,8000,2700.0,9000,9000.0,2000,4700.0
6,jul,31,5000,6000,5000.0,0,1500.0,9000,14000.0
7,aug,31,30,800,30.0,0,9.0,9000,9030.0
8,sep,30,6000,5000,1800.0,6000,6000.0,0,1800.0
9,oct,31,8000,6000,8000.0,0,2400.0,6000,14000.0
10,nov,30,1000,20,300.0,1000,1000.0,6000,6300.0
11,dec,31,6000,300,6000.0,0,1800.0,1000,7000.0

In [152]:
#Considering the Vendor Credit Term, though by me as the ammount of time the company will have to pay for the whole ammount
#it has purchase from third parties

cashflow['forecasted_sales_cost_considering_vendor_credit_term'] = np.where(cashflow['number_days'] <= 30,
                                           cashflow['sales_cost_forecast'] * 0.5,
                                           cashflow['sales_cost_forecast'])

cashflow['to_be_paid_next_month(vendor)'] = np.where(cashflow['number_days'] <= 30,
                                           cashflow['sales_cost_forecast'] * 0.5,
                                           cashflow['sales_cost_forecast'])

cashflow['to_be_paid_next_month(vendor)'] = np.where(cashflow['number_days'] == 31,
                                           cashflow['sales_cost_forecast'] * 0,
                                           cashflow['sales_cost_forecast'])

cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor)
0,jan,31,3000,2000,3000.0,0,900.0,0,3000.0,2000.0,0
1,feb,28,5000,3000,1500.0,5000,5000.0,0,1500.0,1500.0,3000
2,mar,31,4000,5000,4000.0,0,1200.0,5000,9000.0,5000.0,0
3,apr,30,2000,6000,600.0,2000,2000.0,5000,5600.0,3000.0,6000
4,may,31,3000,5000,3000.0,0,900.0,2000,5000.0,5000.0,0
5,jun,30,9000,8000,2700.0,9000,9000.0,2000,4700.0,4000.0,8000
6,jul,31,5000,6000,5000.0,0,1500.0,9000,14000.0,6000.0,0
7,aug,31,30,800,30.0,0,9.0,9000,9030.0,800.0,0
8,sep,30,6000,5000,1800.0,6000,6000.0,0,1800.0,2500.0,5000
9,oct,31,8000,6000,8000.0,0,2400.0,6000,14000.0,6000.0,0
10,nov,30,1000,20,300.0,1000,1000.0,6000,6300.0,10.0,20
11,dec,31,6000,300,6000.0,0,1800.0,1000,7000.0,300.0,0

In [153]:
cashflow['to_be_paid_this_month(vendor)'] = cashflow['to_be_paid_next_month'].shift(periods=1, fill_value=0)
cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor),to_be_paid_this_month(vendor)
0,jan,31,3000,2000,3000.0,0,900.0,0,3000.0,2000.0,0,0
1,feb,28,5000,3000,1500.0,5000,5000.0,0,1500.0,1500.0,3000,0
2,mar,31,4000,5000,4000.0,0,1200.0,5000,9000.0,5000.0,0,5000
3,apr,30,2000,6000,600.0,2000,2000.0,5000,5600.0,3000.0,6000,0
4,may,31,3000,5000,3000.0,0,900.0,2000,5000.0,5000.0,0,2000
5,jun,30,9000,8000,2700.0,9000,9000.0,2000,4700.0,4000.0,8000,0
6,jul,31,5000,6000,5000.0,0,1500.0,9000,14000.0,6000.0,0,9000
7,aug,31,30,800,30.0,0,9.0,9000,9030.0,800.0,0,0
8,sep,30,6000,5000,1800.0,6000,6000.0,0,1800.0,2500.0,5000,0
9,oct,31,8000,6000,8000.0,0,2400.0,6000,14000.0,6000.0,0,6000
10,nov,30,1000,20,300.0,1000,1000.0,6000,6300.0,10.0,20,0
11,dec,31,6000,300,6000.0,0,1800.0,1000,7000.0,300.0,0,1000

In [154]:
cashflow['updated_new_sales_cost_forecast'] = cashflow['to_be_paid_this_month(vendor)'] + cashflow['forecasted_sales_cost_considering_vendor_credit_term']
cashflow

,months,number_days,sales_forecast,sales_cost_forecast,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor),to_be_paid_this_month(vendor),updated_new_sales_cost_forecast
0,jan,31,3000,2000,3000.0,0,900.0,0,3000.0,2000.0,0,0,2000.0
1,feb,28,5000,3000,1500.0,5000,5000.0,0,1500.0,1500.0,3000,0,1500.0
2,mar,31,4000,5000,4000.0,0,1200.0,5000,9000.0,5000.0,0,5000,10000.0
3,apr,30,2000,6000,600.0,2000,2000.0,5000,5600.0,3000.0,6000,0,3000.0
4,may,31,3000,5000,3000.0,0,900.0,2000,5000.0,5000.0,0,2000,7000.0
5,jun,30,9000,8000,2700.0,9000,9000.0,2000,4700.0,4000.0,8000,0,4000.0
6,jul,31,5000,6000,5000.0,0,1500.0,9000,14000.0,6000.0,0,9000,15000.0
7,aug,31,30,800,30.0,0,9.0,9000,9030.0,800.0,0,0,800.0
8,sep,30,6000,5000,1800.0,6000,6000.0,0,1800.0,2500.0,5000,0,2500.0
9,oct,31,8000,6000,8000.0,0,2400.0,6000,14000.0,6000.0,0,6000,12000.0
10,nov,30,1000,20,300.0,1000,1000.0,6000,6300.0,10.0,20,0,10.0
11,dec,31,6000,300,6000.0,0,1800.0,1000,7000.0,300.0,0,1000,1300.0

In [155]:
updated_cashflow = cashflow.drop(columns=['sales_forecast','sales_cost_forecast'])
updated_cashflow

,months,number_days,forecasted_sales_considering_customer_credit_term,to_be_paid_next_month,to_be_paid_in_two_months,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor),to_be_paid_this_month(vendor),updated_new_sales_cost_forecast
0,jan,31,3000.0,0,900.0,0,3000.0,2000.0,0,0,2000.0
1,feb,28,1500.0,5000,5000.0,0,1500.0,1500.0,3000,0,1500.0
2,mar,31,4000.0,0,1200.0,5000,9000.0,5000.0,0,5000,10000.0
3,apr,30,600.0,2000,2000.0,5000,5600.0,3000.0,6000,0,3000.0
4,may,31,3000.0,0,900.0,2000,5000.0,5000.0,0,2000,7000.0
5,jun,30,2700.0,9000,9000.0,2000,4700.0,4000.0,8000,0,4000.0
6,jul,31,5000.0,0,1500.0,9000,14000.0,6000.0,0,9000,15000.0
7,aug,31,30.0,0,9.0,9000,9030.0,800.0,0,0,800.0
8,sep,30,1800.0,6000,6000.0,0,1800.0,2500.0,5000,0,2500.0
9,oct,31,8000.0,0,2400.0,6000,14000.0,6000.0,0,6000,12000.0
10,nov,30,300.0,1000,1000.0,6000,6300.0,10.0,20,0,10.0
11,dec,31,6000.0,0,1800.0,1000,7000.0,300.0,0,1000,1300.0

In [156]:
updated_cashflow = cashflow.drop(columns=['sales_forecast','sales_cost_forecast', 'number_days','to_be_paid_next_month',
                                         'to_be_paid_in_two_months','to_be_paid_next_month'])
updated_cashflow

,months,forecasted_sales_considering_customer_credit_term,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor),to_be_paid_this_month(vendor),updated_new_sales_cost_forecast
0,jan,3000.0,0,3000.0,2000.0,0,0,2000.0
1,feb,1500.0,0,1500.0,1500.0,3000,0,1500.0
2,mar,4000.0,5000,9000.0,5000.0,0,5000,10000.0
3,apr,600.0,5000,5600.0,3000.0,6000,0,3000.0
4,may,3000.0,2000,5000.0,5000.0,0,2000,7000.0
5,jun,2700.0,2000,4700.0,4000.0,8000,0,4000.0
6,jul,5000.0,9000,14000.0,6000.0,0,9000,15000.0
7,aug,30.0,9000,9030.0,800.0,0,0,800.0
8,sep,1800.0,0,1800.0,2500.0,5000,0,2500.0
9,oct,8000.0,6000,14000.0,6000.0,0,6000,12000.0
10,nov,300.0,6000,6300.0,10.0,20,0,10.0
11,dec,6000.0,1000,7000.0,300.0,0,1000,1300.0

In [162]:
updated_cashflow['updated_cashflow'] = updated_cashflow['updated_new_sales_forecast'] - updated_cashflow['updated_new_sales_cost_forecast']

updated_cashflow.set_index('months')

,forecasted_sales_considering_customer_credit_term,to_be_paid_this_month,updated_new_sales_forecast,forecasted_sales_cost_considering_vendor_credit_term,to_be_paid_next_month(vendor),to_be_paid_this_month(vendor),updated_new_sales_cost_forecast,updated_cashflow
months,,,,,,,,
jan,3000.0,0,3000.0,2000.0,0,0,2000.0,1000.0
feb,1500.0,0,1500.0,1500.0,3000,0,1500.0,0.0
mar,4000.0,5000,9000.0,5000.0,0,5000,10000.0,-1000.0
apr,600.0,5000,5600.0,3000.0,6000,0,3000.0,2600.0
may,3000.0,2000,5000.0,5000.0,0,2000,7000.0,-2000.0
jun,2700.0,2000,4700.0,4000.0,8000,0,4000.0,700.0
jul,5000.0,9000,14000.0,6000.0,0,9000,15000.0,-1000.0
aug,30.0,9000,9030.0,800.0,0,0,800.0,8230.0
sep,1800.0,0,1800.0,2500.0,5000,0,2500.0,-700.0
oct,8000.0,6000,14000.0,6000.0,0,6000,12000.0,2000.0
nov,300.0,6000,6300.0,10.0,20,0,10.0,6290.0
dec,6000.0,1000,7000.0,300.0,0,1000,1300.0,5700.0

In [165]:
#exporting to excel
#change the directory to a place you know
updated_cashflow.to_csv(r'C:\Users\User\Documents\cashflow_results.csv')